---
import {type Icon as IconType, House, Cog} from "@lucide/astro";
interface Props {
    pathname: string;
    label: string;
    icon: IconType;
}

const {pathname, label, icon} = Astro.props;

const active = pathname === (Astro.url.pathname.replace(/\/+$/, '') || "/");
---

<a href={pathname} class=`p-3 flex flex-row items-center gap-3 cursor-pointer rounded-full text-bright select-none transition-all
hover:bg-bright hover:text-gray-950
active:scale-105
${active && 'bg-bright text-gray-950'}`>
    <slot/>
    <span>{label}</span>
</a>