---
import {type Icon as IconType, House, Cog} from "@lucide/astro";
import SideNavItem from "./SideNavItem.astro";

const {pathname} = Astro.url;

type MenuItem = {
    name: string;
    pathname: string;
    icon: typeof IconType;
};

const menuItems: MenuItem[] = [
    {
        name: 'Home',
        pathname: '/',
        icon: House,
    },
    {
        name: 'Works',
        pathname: '/works',
        icon: Cog,
    },
];
---

<div class="w-70 h-full flex flex-col bg-[#1e1e1e] border-r border-gray-800 p-8 gap-9 z-50">
    <div class="w-full flex flex-row items-center">
        <div class="rounded-full w-12 h-12 bg-[url(/images/anvy_profile.png)] bg-center bg-cover"/>
        <div class="ml-4">
            <h1 class="text-bright text-lg font-bold">Chamchi</h1>
            <p class="text-bright text-sm">Frontend Developer</p>
        </div>
    </div>
    <div class="flex flex-col gap-3">
        {menuItems.map(item =>
            <SideNavItem icon={item.icon} label={item.name} pathname={item.pathname}>
                <item.icon/>
            </SideNavItem>)}
    </div>
</div>