---
import {type Icon as IconType, House, Cog} from "@lucide/astro";
interface Props {
    pathname: string;
    label: string;
    icon: IconType;
}

const {pathname, label, icon} = Astro.props;

const active = pathname === (Astro.url.pathname.replace(/\/+$/, '') || "/");
---

<a href={pathname} class=`px-4 flex flex-row items-center gap-3 cursor-pointer rounded-full text-bright select-none transition duration-300 ease-in-out
hover:bg-bright hover:text-gray-950 hover:scale-110
${active && 'bg-bright text-gray-950 scale-110'}`>
    <slot/>
    <span>{label}</span>
</a>