---
import {type Icon as IconType, House, Cog} from "@lucide/astro";
import TopNavItem from "./TopNavItem.astro";

type MenuItem = {
    name: string;
    pathname: string;
    icon: typeof IconType;
};

const menuItems: MenuItem[] = [
    {
        name: 'Home',
        pathname: '/',
        icon: House,
    },
    {
        name: 'Works',
        pathname: '/works',
        icon: Cog,
    },
];
---

<nav transition:name="header" class="w-full flex flex-row justify-between border border-bright/50 rounded-full sticky top-4 px-5 py-3 gap-9 z-40 backdrop-blur-[2px]">
    <div class="flex flex-row items-center">
        <div class="rounded-full w-10 h-10 bg-[url(/images/anvy_profile.png)] bg-center bg-cover"/>
        <div class="ml-4">
            <h1 class="text-bright text-lg font-bold">Chamchi</h1>
            <p class="text-bright text-sm">Web & Game Dev</p>
        </div>
    </div>
    <div class="flex flex-row gap-6">
        {menuItems.map(item =>
            <TopNavItem icon={item.icon} label={item.name} pathname={item.pathname}>
                <item.icon/>
            </TopNavItem>)}
    </div>
</nav>